// Colour
$primary:             #8C43FF !default;
$secondary:           #607D8B !default;
$dark:                #555555 !default;
$light:               #f5f5f5 !default;
$success:             #4CAF50 !default;
$warning:             #FFC107 !default;
$danger:              #F44336 !default;
$info:                #2196F3 !default;
$white:               #ffffff !default;
$black:               #000000 !default;
$black-dark:          #293347;
$code:                #e83e8c;

// Font
$primary-font: 'Poppins', sans-serif;
$font-weight-light:   100 !default;
$font-weight-normal:  400 !default;
$font-weight-bold:    700 !default;

// Spacing
$default-spacing:     .375rem !default;
$default-hero-size:   3.5rem !default;
